<h3 style="text-align: center">
  Your are registered as an customer on A2FCreators
</h3>
<p>Hi <strong><%= name %></strong></p>
<p>
  Please confirm your email
  <a target="_blank" rel="noopener noreferrer" href="<%= url %>">here</a>.
</p>
