<h3 style="text-align: center">
  Your are registered as an agent on MagicCaller
</h3>
<p>Hi <strong><%= name %></strong></p>
<p>
  Please login dashboard
  <a target="_blank" rel="noopener noreferrer" href="#">here</a>.
</p>
